.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #424242; 
  color: #fff; 
  font-family: 'Arial', sans-serif;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}
